// 水平垂直居中
@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 设置宽高 默认100%
@mixin set_w_h($w: fill, $h: fill) {
  @if ($w == fill) {
    width: 100%;
  } @else if ($w == auto) {
    width: auto;
  } @else {
    width: #{$w}px;
  }
  @if ($h == fill) {
    height: 100%;
  } @else if ($h == auto) {
    height: auto;
  } @else {
    height: #{$h}px;
  }
}

// 单行超出省略号
@mixin omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行超出省略号
@mixin omit2 {
  word-break: break-fill;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

// 悬浮变化
@mixin cursor_hand {
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}

// 悬浮阴影
@mixin box_shadow($time: 0.5, $color: #cccccc) {
  transition: ease $time + s;
  &:hover {
    box-shadow: 0 0 10px $color;
  }
}
